---
layout: default
---

<div>{% include search.html %}</div>
<br>

<div class="home">
<!--   {% for post in site.posts %}
    {{post.tags}}
  {% endfor %} -->
  <ul class="post-list">
    {% for post in site.posts %}
      {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentyear != year %}
        <li class="post-year"><h2><strong>&lt;{{ currentyear }}&gt;</strong></h2></li>
        <hr>
        <br>
        {% capture year %}{{currentyear}}{% endcapture %} 
      {% endif %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <li class="post-info">
          <div class="post-meta">
            <i class="fa fa-clock-o"></i>
            &nbsp;
            {{ post.date | date: "%B %-d" | upcase }} •
            #{{ post.category | capitalize }}
          </div>
          <span class="postlist-title">
              {{ post.title }}     
          </span>
          <div class="postlist-readmore"><strong>// Read On</strong>
            &nbsp;
            <i class="fa fa-chevron-circle-right"></i>
          </div>
        </li>
      </a>
    {% endfor %}
  </ul>
</div>
