---
layout: default
---

<!-- <div>{% include search.html %}</div> -->
<br>

<div class="home">
<!--   {% for post in site.posts %}
    {{post.tags}}
  {% endfor %} -->
  <ul class="post-list">
    {% for post in site.posts %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <li class="post-info">          
          <div class="post-summary">
            <span class="postlist-title">
                {{ post.title }}     
            </span>
            <div class="post-meta">
              By {{ post.author }} • {{ post.date | date_to_string }} • {{ post.category | capitalize }}
            </div>
            {% if post.thumbnail %}
              <div class="post-bg" style="background:url({{ post.thumbnail }})"></div>
            {% endif %}
            {% if post.clipping %}
              <p>
                {{ post.clipping }}..
              </p>
            {% endif %}
            <div class="postlist-readmore">
              Continue Reading
            </div>
          </div>
        </li>
      </a>
    {% endfor %}
  </ul>
</div>
