/**
 * Site header
 */

.site-header {
    /*border-top: 5px solid $grey-color-dark;*/
    background: rgba(0, 0, 0, .1);
    min-height: 56px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
    // Positioning context for the mobile navigation icon
    position: relative;
    background: $background-color-2;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-right: .5em;
    float: left;
    color: $text-color;
    text-shadow: $text-shadow;
}

#tldr {
    margin-bottom: 0;
}

.site-nav {
    float: right;
    line-height: 56px;
    background: $background-color-2 !important;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        text-shadow: $text-shadow;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin: auto;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            >svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $text-color-2;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin: auto;
        }
    }
}


/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: $background-color-2;
    color: $text-color-2;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    li a {
        color: $text-color;
        text-shadow: $text-shadow;
        padding: 0 10px;
        i {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $text-color-2;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width : calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width : calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width : calc(45% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width : calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width : calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width : calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */

.page-content {
    padding-top: 0;
    padding-bottom: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    /*max-width: 350px;*/
    .post-year {
        color: $text-color-2;
    }
    .post-info {
        display: flex;
        margin-bottom: $spacing-unit / 2;
        padding: 5px 10px;
        /*background: $background-color-2;*/
        color: $text-color-2;
        opacity: .9;
        /*box-shadow: $box-shadow;*/
        /*border-radius: 5px;*/
        .post-summary {
            width: 100%;
        }
        .postlist-title {
            font-size: 1.5em;
            color: $text-color-2;
            text-shadow: $text-shadow;
        }
        .postlist-readmore {
            font-size: 15px;
            color: $text-color;
            opacity: .6;
            margin: 0;
        }
        p {
            font-size: .5em;
        }
        /* &:hover {
            box-shadow: $box-shadow-hover;
            transform: scale(1.05);
        }*/
    }
    .post-bg {
        margin: .6em 0;
        height: 13em;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        transition: .3s ease-in-out;
        /*border: 3px solid black;*/
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
}

.post-meta {
    margin-bottom: 15px;
    font-size: 14px;
    opacity: .6;
}

.post-link {
    display: block;
    font-size: 24px;
    /*border-top: 1px solid rgba(0,0,0,.1);*/
    &:before {
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.1);
        height: 1px;
        width: 95%;
        margin: auto;
        transition: .3s ease-in-out
    }
    &:first-child {
        &:before {
            width: 0 !important;
        }
    }
}


/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;
}

.post-title {
    font-size: 2.5em;
    letter-spacing: -1px;
    line-height: 1;
    text-shadow: $text-shadow;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit/2;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}